body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    color: orange;
    text-align: center;
}

p {
    text-align: center;
    color: black;
    font-size: larger;
}

.Donate-Now {
    text-decoration-style: dotted;
    font-size: large;
    color: darkblue;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    text-align: center;
    border-color: blue;
}

.top-banner {
    background-image: url(Flood.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}


h3 {
    text-align: center;
    text-shadow: blue;
}

.donate-today {
    text-align: center;
}

h1 {
    color: yellowgreen
}

.help-the-helpless {
    background-color: orangered;
}

h2 {
    text-align: center;
}

input {
    align-items: center;
    padding: 15px;
}

button {
    padding: 15px;
    background: red;
    color: white;
}